<div class='form-group case-field' *ngIf='Field'>
    <label for="case-field-{{Field.Name}}" class="col-10 col-form-label"><b>{{Field.Description}}</b></label>
    <div *ngIf='ViewModel.IsDisplay' class="col-10">
        {{ViewModel.Data[Field.Name]}}
    </div>
    <div *ngIf='!ViewModel.IsDisplay' [ngSwitch]="Field.Type">
        <div *ngSwitchCase="'Text'" class="col-10"1>
            <input class="form-control" type="text" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}" (input)="setValue($event.target.value)" />
        </div>
        <div *ngSwitchCase="'Date'" class="col-10">
            <input class="form-control" type="date" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}" (input)="setValue($event.target.value)" >
        </div>
        <div *ngSwitchCase="'Dropdown'" class="col-10">
            <select class="form-control" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}" (input)="setValue($event.target.value)" >
                <option *ngFor="let opt of Field.Options">{{opt}}</option>
            </select>
        </div>
        <div *ngSwitchCase="'Radio'" class="col-10">
            - radio button -
        </div>
    </div>
</div>