<div class="row">

    <div class=" col-xs-12 col-sm-12 col-lg-9 col-md-9" *ngIf="dataModel">


        <simple-notifications id="2" [options]="options">{{this.userList}}</simple-notifications>
        <!-- <simple-notifications id="notification" 
     timeOut= "-1"
     lastOnBottom = "true"
     clickToClose= "true"
     maxLength= "0"
     maxStack= "7"
     showProgressBar= "true"
     pauseOnHover= "true"
     preventDuplicates= "false"
     preventLastDuplicates= 'visible'
     rtl= "false"
     animate= 'scale'
     position= "['right', 'bottom']">{{this.userList}}</simple-notifications> -->




        <form [formGroup]="caseForm" class="ui form">
            <ngb-accordion activeIds="2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18">
                <!--<ngb-panel id="1" title="Header">
                <template ngbPanelContent>

                      <div class="form-group">
                            <label for="example-text-input" class="col-6  col-form-label">Unique Report Number</label>
                            <label for="example-text-input" class="col-4  col-form-label"><b> Report Number </b></label>
                        </div>
                        <div class="form-group">
                            <label for="example-search-input" class="col-6  col-form-label">Date and Time Stamp of Submission</label>
                            <label for="example-text-input" class="col-4  col-form-label"><b> Submission Date </b></label>
                        </div>
                        <div class="form-group">
                            <label for="example-email-input" class="col-6  col-form-label">Jurisdictional Team Submitting</label>
                            <label for="example-text-input" class="col-4  col-form-label"><b> Jurisdictional Team </b></label>

                        </div>

                </template>
            </ngb-panel>-->
                <ngb-panel id="2" title="Case Information">
                    <template ngbPanelContent>
                        <!--<div class="form-group">
                        <label for="example-text-input" class="col-8  col-form-label">Date of Initial Case Review</label>
                        <div class="col-8">
                            <input class="form-control"   type="date" value="" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-search-input" class="col-8  col-form-label">Name of Reviewer</label>
                        <div class="col-8">
                            <input class="form-control" formControlName="NameofReviewer"   type="text" value="" id="example-date-input" >
                        </div>
                    </div>-->
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DateofInitialCaseReview" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DateofDeath" [ViewModel]="dataModel"></case-field>
                        </div>
                        <!--<div class="form-group">
                        <label for="example-email-input" class="col-8  col-form-label">Year of Death</label>
                        <div class="col-8">
                            <input class="form-control" formControlName="YearofDeath" type="number" value="" id="example-date-input">
                        </div>
                    </div>-->
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="YearofDeath" [ViewModel]="dataModel"></case-field>
                        </div>
                        <!-- SK_ year of death should not be a field rather it should be a calculated field from date of death and should be submitted automatically. -->
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CountyofDeath" [ViewModel]="dataModel"></case-field>

                            <!-- <div *ngIf='case-field-{{Field.Name}}'>
                            <b>case-field-{{Field.Name}}</b>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="ResidentJurisdiction" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CauseofDeath" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="MannerofDeath" [ViewModel]="dataModel"></case-field>
                        </div>
                        <!-- <div class="form-group">
                            <p class="form-control">Age at Death:{{dataModel.Data['Age']}}</p>
                    </div> -->

                        <!-- <input class="form-control"   type="date" value="" id="example-search-input"> -->


                    </template>
                </ngb-panel>

                <ngb-panel id="3" title="Decedent Demographic Information">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Sex" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Transgender" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DateofBirth" [ViewModel]="dataModel"></case-field>
                        </div>

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="AgeatDeath" [ViewModel]="dataModel"></case-field>
                        </div>

                        <!-- Working <div class="form-group row case-field">
                            <label class="col-md-4 col-form-label">Age at Death:</label>
                            <div class="col-md-5">
                                <div class="form-control">{{dataModel.Data['Age']}}
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Race" [ViewModel]="dataModel"></case-field>
                        </div> -->
                        <label>Race :</label>
                        <label [hidden]=msgRaceHide class="text-danger">This is a required field.</label>
                        <div style="margin-left: 25px">
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="RaceWhite" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="RaceBlack or African American" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="RaceAsian" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="RaceNative Hawaiian or other Pacific Islander" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="RaceAmerican Indian or Alaska Native" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="RaceUnspecified race" [ViewModel]="dataModel"></case-field>
                        </div>
                        </div>

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Hispanic" [ViewModel]="dataModel"></case-field>
                        </div>
                        
                    </template>
                </ngb-panel>

                <ngb-panel id="4" title="Scene of Incident">
                    <template ngbPanelContent>
                        <!-- <div class="form-group">
                            <label for="example-email-input" class="col-8  col-form-label">Location Of Death Type</label>
                            <div class="col-8">
                                <case-field [form]="caseForm" FieldName="LocationOfDeathType" [ViewModel]="dataModel"></case-field>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <!-- <label for="example-email-input" class="col-8  col-form-label">Location Of Death Type</label> -->
                            <case-field [form]="caseForm" FieldName="LocationOfDeathType" [ViewModel]="dataModel"></case-field>

                        </div>
                        <!-- 
                        <div class="form-group">
                            <label for="example-email-input" class="col-8  col-form-label">LocationofDeath Other</label>
                            <div class="col-8">
                                <case-field [form]="caseForm" FieldName="LocationofDeathOther" [ViewModel]="dataModel"></case-field>
                            </div>
                        </div> -->


                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LocationofDeathOther" [ViewModel]="dataModel"></case-field>
                        </div>

                        <!-- <div class="form-group">
                                <label for="example-email-input" class="col-8  col-form-label">Naloxone Administered?</label>
                                <div class="col-8">
                                    <case-field [form]="caseForm" FieldName="NaloxoneAdministered" [ViewModel]="dataModel"></case-field>
                                </div>
                            </div> -->

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="NaloxoneAdministered" [ViewModel]="dataModel"></case-field>
                        </div>

                        <div class="form-group">
                            <label for="example-email-input" class="col-form-label">Who administered naloxone at the scene?</label>
                            <div style="margin-left: 25px">
                                <case-field [form]="caseForm" FieldName="NaloxoneAdministratorBystander" [ViewModel]="dataModel"></case-field>
                                <case-field [form]="caseForm" FieldName="NaloxoneAdministratorProfessionalFirstResponder" [ViewModel]="dataModel"></case-field>
                                <case-field [form]="caseForm" FieldName="NaloxoneAdministratorOther" [ViewModel]="dataModel"></case-field>
                                <case-field [form]="caseForm" FieldName="NaloxoneAdministratorOtherUnknown" [ViewModel]="dataModel"></case-field>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                                        <label for="example-email-input" class="col-8  col-form-label">Delay in calling 911</label>
                                        <div class="col-8">
                                            <case-field [form]="caseForm" FieldName="Delay911" [ViewModel]="dataModel"></case-field>
                                        </div>
                                    </div> -->

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Delay911" [ViewModel]="dataModel"></case-field>
                        </div>

                        <!-- <div class="form-group">
                                            <label for="example-email-input" class="col-8  col-form-label">IV drug use</label>
                                            <div class="col-8">
                                                <case-field [form]="caseForm" FieldName="IVuseIndicatedScene" [ViewModel]="dataModel"></case-field>
                                            </div>
                                        </div> -->

                        <!-- <div class="form-group">
                                                <label for="example-email-input" class="col-8  col-form-label">IV drug use</label>
                                                <div class="col-8">
                                                    <case-field [form]="caseForm" FieldName="IVuseIndicatedScene" [ViewModel]="dataModel"></case-field>
                                                </div>
                                            </div> -->

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="IVuseIndicatedScene" [ViewModel]="dataModel"></case-field>
                        </div>

                        <!-- <div class="form-group">
                                                <label for="example-email-input" class="col-8  col-form-label">Prescription Pills</label>
                                                <div class="col-8">
                                                    <case-field [form]="caseForm" FieldName="PrescriptionPillsonScene" [ViewModel]="dataModel"></case-field>
                                                </div>
                                            </div> -->

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="PrescriptionPillsonScene" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="5" title="Records EMS">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EMSRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="PriorEMS" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EMS_DayofDeath" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="6" title="Records Health Provider/Hospital">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="HospitalRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CRISPRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="PDMPRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="PharmacyRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EDEncounter" [ViewModel]="dataModel"></case-field>
                        </div>
                        <!-- <div class="form-group">
                            <case-field [form]="caseForm" FieldName="ED_DayofDeath" [ViewModel]="dataModel"></case-field>
                        </div> -->
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="PainManagement" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="ChronicSomatic" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BrainInjury" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="7" title="Records Law Enforcement">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LawRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LawContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LawSuspect" [ViewModel]="dataModel"></case-field>
                        </div>

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LawLEAD" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="8" title="Records Judicial System">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="AttorneyRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DrugCourtRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="AttorneyContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DrugCourtContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DUIHistory" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LawProsecuted" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="LawCharge" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="9" title="Records Detention Center">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DetentionCenterRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DetentionCenterContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DetentionCenterDrugTreatment" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DetentionCenterMHTreatment" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="10" title="Records Education">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EducationK12" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EducationHigherEd" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EducationContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EducationDegree" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="11" title="Records Behavioral Health">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHHdRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHPrivateRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHMentalHealth" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHBeacon" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHHDContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHPrivateContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHTreatmentatDeath" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHMAT" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHTreatment" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHSuicide" [ViewModel]="dataModel"></case-field>
                        </div>

                    </template>
                </ngb-panel>

                <ngb-panel id="12" title="Records Community Supervision">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CommunityRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CommunityContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CommunityEnrollment" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="13" title="Records Social Services">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="SSrecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="SSContact" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="SSCrisisRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="SSEnrollment" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="14" title="Records Family">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="FamilyInterviews" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="FamilyInterviewsDetails" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="MaritalStatus" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="IntimatePartnerViolence" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="IPVRole" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="DecedentChildren" [ViewModel]="dataModel"></case-field>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="15" title="Records Harm Reduction">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="HRMORPRecords" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="HRSterileSyringe" [ViewModel]="dataModel"></case-field>
                        </div>
                        <!-- <div class="form-group">
                            <label for="example-email-input" class="col-8  col-form-label">HR PeerRecovery</label>
                            <div class="col-8">
                                <case-field [form]="caseForm" FieldName="HRPeerRecovery" [ViewModel]="dataModel"></case-field>
                            </div>
                        </div> -->
                    </template>
                </ngb-panel>

                <ngb-panel id="16" title="Records Decedent Information">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="SexualOrientation" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Pregnancy" [ViewModel]="dataModel"></case-field>
                        </div>

                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="EmploymentStatus" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Occupation" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Homeless" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Military" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="SexWork" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="Institution" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group" style="margin-left:25px;">
                            <case-field style="padding-left: 0px;" [form]="caseForm" FieldName="InstitutionOther" [ViewModel]="dataModel"></case-field>
                        </div>

                        <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="DrugExposure" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                                <case-field [form]="caseForm" FieldName="LocationOfDeathType" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                                <case-field [form]="caseForm" FieldName="LocationofDeathOther" [ViewModel]="dataModel"></case-field>
                        </div> -->
                    </template>
                </ngb-panel>

                <ngb-panel id="17" title="Case Analysis">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CaseSummary" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CaseGaps1" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CaseGaps2" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="CaseGaps3" [ViewModel]="dataModel"></case-field>
                        </div>
                        <label><u>Recommendation #1</u></label>
                        <div style="margin-left:25px">
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1Category" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1Target" [ViewModel]="dataModel"></case-field>
                            </div>
                            <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1Agency" [ViewModel]="dataModel"></case-field>
                            </div> -->
                            <label>Agency:</label>
                            <label [hidden]=msgRecommendation1AgencyHide class="text-danger">This is a required field.</label>
                            <div style="margin-left:50px">                           
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyLaw enforcement" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyHospital" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyHealthcare Provider" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyPharmacy" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyJudicial System" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyLocal Health Department" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyEMS" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyDetention Center" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyEducation" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1AgencyBehavioral Health" [ViewModel]="dataModel"></case-field>
                            </div>
                            </div>
                            <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1Party" [ViewModel]="dataModel"></case-field>
                            </div> -->
                            <label>Responsible Party:</label>
                            <label [hidden]=msgRecommendation1PartyHide class="text-danger">This is a required field.</label>
                            <div style="margin-left:50px">
                            
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1PartyLocal" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations1PartyState" [ViewModel]="dataModel"></case-field>
                            </div>
                            </div>
                        </div>
                        <label><u>Recommendation #2</u></label>
                        <div style="margin-left:25px">
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2Category" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2Target" [ViewModel]="dataModel"></case-field>
                            </div>
                            <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2Agency" [ViewModel]="dataModel"></case-field>
                            </div> -->
                            <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2Party" [ViewModel]="dataModel"></case-field>
                            </div> -->
                            <label>Agency:</label>
                            <label [hidden]=recommendation2Hide.msgAgencyHide class="text-danger">This is a required field.</label>
                            <div style="margin-left:50px">                           
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyLaw enforcement" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyHospital" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyHealthcare Provider" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyPharmacy" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyJudicial System" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyLocal Health Department" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyEMS" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyDetention Center" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyEducation" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2AgencyBehavioral Health" [ViewModel]="dataModel"></case-field>
                            </div>
                            </div>
                            <label>Responsible Party:</label>
                            <label [hidden]=recommendation2Hide.msgPartyHide class="text-danger">This is required field</label>
                            <div style="margin-left:50px">
                            
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2PartyLocal" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations2PartyState" [ViewModel]="dataModel"></case-field>
                            </div>
                            </div>
                        </div>
                        <label><u>Recommendation #3</u></label>
                        <div style="margin-left:25px">
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3Category" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3Target" [ViewModel]="dataModel"></case-field>
                            </div>
                            <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3Agency" [ViewModel]="dataModel"></case-field>
                            </div> -->
                            <label>Agency:</label>
                            <label [hidden]=recommendation3Hide.msgAgencyHide class="text-danger">This is a required field.</label>
                            <div style="margin-left:50px">                           
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyLaw enforcement" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyHospital" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyHealthcare Provider" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyPharmacy" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyJudicial System" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyLocal Health Department" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyEMS" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyDetention Center" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyEducation" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3AgencyBehavioral Health" [ViewModel]="dataModel"></case-field>
                            </div>
                            </div>
                            <!-- <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3Party" [ViewModel]="dataModel"></case-field>
                            </div> -->
                            <label>Responsible Party:</label>
                            <label [hidden]=recommendation3Hide.msgPartyHide class="text-danger">This is a required field.</label>
                            <div style="margin-left:50px">
                            
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3PartyLocal" [ViewModel]="dataModel"></case-field>
                            </div>
                            <div class="form-group">
                                <case-field [form]="caseForm" FieldName="CaseRecommendations3PartyState" [ViewModel]="dataModel"></case-field>
                            </div>
                            </div>
                        </div>
                    </template>
                </ngb-panel>

                <ngb-panel id="18" title="Decedent Demographic Information">
                    <template ngbPanelContent>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHAReview" [ViewModel]="dataModel"></case-field>
                        </div>
                        <div class="form-group">
                            <case-field [form]="caseForm" FieldName="BHAFollowup" [ViewModel]="dataModel"></case-field>
                        </div>

                    </template>
                </ngb-panel>
            </ngb-accordion>
            <br>
            <div>
                <button type="submit" (click)="submit()" class="btn btn-md btn-primary fright">Submit </button>
            </div>
        </form>
    </div>
</div>