
<div  [formGroup]="form" class='form-group case-field' *ngIf='Field'>
    <label for="case-field-{{Field.Name}}" class=" col-form-label">{{Field.Description}}</label> 
    <span *ngIf='Field.Required' > * </span>
    
    <div *ngIf='ViewModel.IsDisplay' > 
        {{ViewModel.Data[Field.Name]}}   
    </div>
    <div *ngIf='!ViewModel.IsDisplay' [ngSwitch]="Field.Type" class="col-md-9 ">
        <div *ngSwitchCase="'Text'" >
            <input class="form-control" type="text" formControlName="{{Field.Name}}"  [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}" (input)="setValue($event.target.value)" />
        
        </div>
  
        <div *ngSwitchCase="'Date'"  >
            <input class="form-control" type="date" formControlName="{{Field.Name}}"    [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}"    (input)="setVa($event.target.value)" >
                
        </div>
        <div *ngSwitchCase="'Dropdown'"  >
            <select class="form-control" formControlName="{{Field.Name}}"       [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}" (input)="setValue($event.target.value)" >
                <option *ngFor="let opt of Field.Options">{{opt}}</option>
            </select>
             
        </div>
        <div *ngSwitchCase="'Radio'"  >
            <span *ngFor="let opt of Field.Options">
                  <input type="radio"  formControlName="{{Field.Name}}"  
                  name="{{Field.Name}}" id="case-field-{{Field.Name}}" 
                value={{opt}}  (input)="setValue($event.target.value)">
                <span> {{opt}} </span>
               
             </span>
        </div>
        <div *ngSwitchCase="'Checkbox'" >
              <input type="checkbox" formControlName="{{Field.Name}}" name="case-field-{{Field.Name}}" id="case-field-{{Field.Name}}" value="ViewModel.Data[Field.Name]" (input)="setValue($event.target.value)">  {{Field.Name}}
           
        </div>
      
        <small *ngIf="Field.Required &&  !form.controls[Field.Name].valid" class="text-danger">
                    Please fill {{Field.Name}}  
         </small>

    </div>
</div>
 