<div [formGroup]="form" class='form-group row case-field' *ngIf='Field'>
    <label for="case-field-{{Field.Name}}" class="col-md-4 col-form-label">{{Field.Description}}</label>



    <div *ngIf='!ViewModel.IsDisplay' [ngSwitch]="Field.Type" class="col-md-5 ">
        <div *ngSwitchCase="'Text'">
            <!-- <div *ngIf="ViewModel.Data[Field.Name]"> -->
            <input class="form-control" type="text" maxlength="{{Field.Length}}" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]"
                id="case-field-{{Field.Name}}" (input)="setTextValue($event.target.value)" />

            <!-- <textarea placeholder="Please type here" class="form-control" type="text" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}"
                    (input)="setTextValue($event.target.value)"></textarea> -->
            <!-- </div> -->
            <!-- <div *ngIf="!ViewModel.Data[Field.Name]">
                <input class="form-control" type="text" formControlName="{{Field.Name}}" [value]="" id="case-field-{{Field.Name}}" (input)="setTextValue($event.target.value)"
                />
            </div> -->
            <!-- <div *ngIf="!ViewModel.Data[AgeatDeath]">
                <input class="form-control" type="text" formControlName="{{Field.Name}}" [value]="ViewModel.Data[AgeatDeath]" id="case-field-{{Field.Name}}" (input)="setValue($event.target.value)"
                readonly/>
            </div> -->

        </div>


        <div *ngSwitchCase="'Textarea'">
            <textarea maxlength="{{Field.Length}}" class="form-control" type="text" rows="5" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]"
                id="case-field-{{Field.Name}}" (input)="setTextValue($event.target.value)"></textarea>

        </div>

        <div *ngSwitchCase="'TextAreaBig'">
            <textarea maxlength="{{Field.Length}}" class="form-control" type="text" rows="15" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]"
                id="case-field-{{Field.Name}}" (input)="setTextValue($event.target.value)"></textarea>

        </div>

        <div *ngSwitchCase="'Date'">
            <input class="form-control" type="date" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}"
                (input)="setValue($event.target.value)">

        </div>

        <!-- <div *ngSwitchCase="'Text'">
            <input class="form-control" type="text" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}"
                (input)="setValue($event.target.value)" readonly>

        </div> -->

        <div *ngSwitchCase="'Radio'">
            <span *ngFor="let opt of Field.Options; let idx = index">
                  <input type="radio"  formControlName="{{Field.Name}}"  
                  name="{{Field.Name}}" id="case-field-{{Field.Name}}" 
                value={{opt}}  (change)="setRadioVal($event.target.value)" [checked]="opt==ViewModel.Data[Field.Name]">
                <span style="padding: 0px 20px 0px 0px;"> {{opt}} </span>

            </span>
        </div>

        <div *ngSwitchCase="'Dropdown'">
            <select class="form-control" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}"
                (input)="setValue($event.target.value)">
                <option *ngFor="let opt of Field.Options">{{opt}}</option>
            </select>


        </div>
<!-- To be implemented<div *ngSwitchCase="'Dropdown'">
            <select class="form-control" formControlName="{{Field.Name}}" [value]="ViewModel.Data[Field.Name]" id="case-field-{{Field.Name}}"
                (input)="setValue($event.target.value)">
                <option *ngFor="let opt of Field.Options">{{opt}}</option>
            </select>


        </div> -->
        <div *ngSwitchCase="'Checkbox'">
            <input type="checkbox" name="{{Field.Name}}" formControlName="{{Field.Name}}" id="case-field-{{Field.Name}}" [checked]="ViewModel.Data[Field.Name]"
                [value]="ViewModel.Data[Field.Name]" (change)="setCheckVal($event.target.value)">
            <!-- <span> {{Field.Name}} </span> -->

        </div>

        <!-- LW<small *ngIf="Field.Required && form.touched" class="text-danger">
            <div *ngIf="form.controls[Field.Name].pristine">
                <div [hidden]="form.controls[Field.Name].valid"> Please fill {{Field.Name}}  </div>
            </div>
            <div *ngIf="!form.controls[Field.Name].pristine">
                    <div [hidden]="form.controls[Field.Name].valid"> Please fill {{Field.Name}}  </div>
            </div>
    </small> -->


    <small *ngIf="(form.controls[Field.Name].invalid && form.controls[Field.Name].pristine) && (form.pristine && form.untouched)"
            class="text-danger">
            <div *ngIf="Field.Required">
                <div>This is a required field.</div>
            </div>
    </small>

    <!-- <small *ngIf="form.controls[Field.Name].pristine && (form.pristine || form.untouched)" class="text-danger">
    <div *ngIf="Field.Required">
        <div [hidden]="form.pristine  && form.controls[Field.Name].valid">This is a required field.</div>
    </div>
</small> -->

    <small *ngIf="form.controls[Field.Name].invalid && (form.dirty || form.touched)" class="text-danger">
            <div *ngIf="!form.controls[Field.Name].pristine">
            <div *ngIf="Field.Required">
                <div>This is a required field.</div>
            </div>
            </div>
            <div *ngIf="form.controls[Field.Name].pristine">
                <div *ngIf="Field.Required">
                    <div>This is a required field</div>
                </div>
                </div>
    </small>





        <!-- <small *ngIf="Field.maxLength(3500) &&  !form.controls[Field.Name].valid" class="text-danger">
                Maximum allowed length for {{Field.Name}} is 100 characters. 
        </small> -->

    </div>
</div>