<nav class="navbar navbar-toggleable-md navbar-default fixed-top bg-default">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a class="navbar-brand" href="#"> </a> -->
      <!-- <a href="#" class="navbar-left"><img src="mdh_logo.png" height="42" width="142" ></a> -->
      <a href="#" class="navbar-brand"><img src="assets/images/logo.png" height="30" width="130" ></a>
      <a href="#" class="navbar-brand"><img src="assets/images/mdh_logo_cropped.png" height="32" width="200" ></a>
      

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="padding-left: 70px;" [routerLink]="['/dashboard']" >Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/protected']">Case</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li> -->
        </ul>
        <form class="form-inline mt-2 mt-md-0">
         <!--Temporary method for logging out. Not an ideal solution.-->
         <a class="logout" style="color:#0275d8" (click)="logout()">Logout</a>
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Logout</button>  -->
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        
        <main class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <router-outlet></router-outlet>
        </main>
      </div>
    </div>
    