<!--<Code for Popup>-->
<div id="caseDetailsPopup" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">

        <div *ngIf="caseDetails">
            <div class="modal-content">

                <div class="modal-header" style="background-color:#2199e8">
                    <h5 class="modal-title" style="color:white">Details for Case : {{caseDetails.OCME}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                                <h2>OCME Details</h2>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">OCME</div>
                                    <div class="col-sm-9">{{caseDetails.OCME}}</div>
                                    <div class="col-sm-3">Resident County</div>
                                    <div class="col-sm-9">{{caseDetails.Data['ResidentJurisdiction']}}</div>
                                    <div class="col-sm-3">Date of Death</div>
                                    <div class="col-sm-9">{{caseDetails.Data['DateofDeath']}}</div>
                                    <div class="col-sm-3">Cause of Death</div>
                                    <div class="col-sm-9">{{caseDetails.Data['CauseofDeath']}}</div>
                                    <div class="col-sm-3">County of Death</div>
                                    <div class="col-sm-9">{{caseDetails.Data['CountyofDeath']}}</div>
                                </div>
                                <br>
                                <h2>Applicable Drugs</h2>
                                <div class="panel-body">
                                    <div class="row">
                                        <br>
                                        <br>
                                        <div class="col-sm-6">
                                            <ul class="list-group" style="list-style-position: inside;">
                                                <li *ngFor="let item of caseDetails.DrugsInSystem">
                                                    {{item}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h2>Actions</h2>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-3">View PDMP</div>
                                        <div class="col-sm-9">
                                            <a href="https://portal.crisphealth.org/MirthSignOn-idp/sso" target="_blank" class="btn btn-info" role="button" style="margin-bottom:10px;">PDMP Data</a>
                                        </div>

                                        <div class="col-sm-3">Other Actions</div>
                                        <div *ngIf="caseDetails.Status =='Assigned'" class="col-sm-9">
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Assigned', 'Dismissed')" class="icon-trash fleft" style="width: 25px;height: 33px;"></a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Assigned', 'Unflagged');openDialog(caseDetails.id);" *ngIf="caseDetails.Flagged" class="icon-flagged fleft   margin_l5" style="width: 70px;"> </a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id , 'Assigned', 'Flagged');openDialog(caseDetails.id);" *ngIf="!caseDetails.Flagged" class="icon-unflagged fleft  margin_l5" style="width: 70px;"> </a>
                                            <a data-dismiss="modal" [routerLink]="['/case', caseDetails.id]"><i class="fa fa-pencil-square-o fleft" style="width:70px; margin-left: 65px;" aria-hidden="true"></i></a>
                                        </div>
                                        <div *ngIf="caseDetails.Status =='Available'" class="col-sm-9">
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Available','Assigned')" class="icon-accept fleft" style="width:25px;height: 33px;"></a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Available','Dismissed')" class="icon-trash fleft" style="width: 90px;"></a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Available','Unflagged')" *ngIf="caseDetails.Flagged" class="icon-flagged fleft   margin_l5" style="width: 85px;"> </a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Available','Flagged')" *ngIf="!caseDetails.Flagged" class="icon-unflagged fleft  margin_l5" style="width: 85px;"> </a>
                                        </div>
                                        <div *ngIf="caseDetails.Status =='Dismissed'" class="col-sm-9">
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Dismissed','Assigned')" class="icon-accept fleft" style="width:25px;height: 33px;"></a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Dismissed','Unflagged')" *ngIf="caseDetails.Flagged" class="icon-flagged fleft   margin_l5" style="width: 75px;"> </a>
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Dismissed','Flagged')" *ngIf="!caseDetails.Flagged" class="icon-unflagged fleft  margin_l5" style="width: 75px;"> </a>
                                        </div>
                                        <div *ngIf="caseDetails.Status =='Submitted'" class="col-sm-9">
                                            <a data-dismiss="modal" (click)="updateCaseStatus(caseDetails.id ,'Submitted','Assigned')" class="icon-accept" style="width:25px;height: 33px;padding:5px 0px 0px 0px"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<simple-notifications id="2" [options]="options">This is good</simple-notifications>

<!--<code for Pop up ends>-->

<!--<pagination-controls 
                        (pageChange) = "page = paginationOpenCasesData($event); p = $event;" 
                        id="1"
                        maxSize = "8"
                        directionLinks = "true"
                        autohide = "true"
                        >
            </pagination-controls>-->



<!--<code for actual data display on Dashboard>-->
<div class="row">
    <div class="col-md-6 col-sm-6 pull-left mainheading"></div>
    <div class="col-md-6 col-sm-6 ">
        <div class="pull-right btn-Case-Report"> <button type="button" (click)="onToggle(show)" class="btn btn-sm btn-primary">Case Report </button></div>
    </div>
</div>
<div id=caseReport *ngIf="show">
    <case-report [ngClass]="{ 'ic-v': visible, 'ic-v-up': !visible }"> </case-report>
</div>
<div class="clear"></div>

<div [ngSwitch]='status'>
    <div *ngSwitchCase="'loading'" class="load-spinner">
        Loading....
    </div>
    <div *ngSwitchCase="'active'">

        <div class="table-responsive">
            <h5 class="heading"><span>Open Cases</span><span style="float:right; padding-bottom:20px"><pagination-controls 
                        (pageChange) = "page = paginationOpenCasesData($event);" 
                        id="open"
                        maxSize = "5"
                        directionLinks = "true"
                        autohide = "true"
                        >
            </pagination-controls></span></h5>
            <table class="table table-bordered table-striped table-sm mycasetable">
                <thead>
                    <tr>
                        <th class="width12">
                            OCME #
                        </th>
                        <th class="width12">
                            Resident County
                        </th>
                        <th class="width12">
                            Date Of Death
                        </th>
                        <th class="width12">
                            Cause of Death
                        </th>
                        <th class="width12">
                            County of Death
                        </th>
                        <!--<th class="width12">
                                        <mfDefaultSorter by="Status">Status</mfDefaultSorter>
                                    </th>-->
                        <th class="width12"> Case Action </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of OpenObserve| async | paginate : { itemsPerPage:5, currentPage: currentOpenCasePage, id : 'open', totalItems:currentOpenCaseCount }">
                        <!--<td><a [routerLink]="['/case', item.id]">{{item.OCME}}</a></td>-->
                        <td><a class="label-ocme" data-toggle='modal' data-target='#caseDetailsPopup' (click)="openDialog($event)" id={{item.id}}>{{item.OCME}}</a></td>
                        <!--<td><button md-button (click)="openDialog()">{{item.OCME}}</button></td>-->
                        <td>{{item.ResidentJurisdiction}}</td>
                        <td>{{item.DateofDeath}}</td>
                        <td>{{item.CauseofDeath}}</td>
                        <td>{{item.CountyofDeath}}</td>
                        <!--<td>{{item.Status}}</td>-->
                        <td>

                            <a (click)="updateCaseStatus(item.id ,'Assigned', 'Dismissed')" class="icon-trash  fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Assigned','Unflagged')" *ngIf="item.Flagged" class="icon-flagged   fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Assigned','Flagged')" *ngIf="!item.Flagged" class="icon-unflagged    fleft   margin_l5"> </a>
                            <a [routerLink]="['/case', item.id]"><i class="fa fa-pencil-square-o fright" style="width:25%;" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5 class="heading"><span>Available to Review </span><span style="float:right; padding-bottom:20px">
                        <pagination-controls 
                        (pageChange) = "page = paginationAvailableCasesData($event);" 
                        id="available"
                        maxSize = "8"
                        directionLinks = "true"
                        autohide = "true">
                        </pagination-controls>
                        </span>
        </h5>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm mycasetable">
                <thead>
                    <tr>
                        <th class="width12">
                            OCME #
                        </th>
                        <th class="width12">
                            Resident County
                        </th>
                        <th class="width12">
                            Date Of Death
                        </th>
                        <th class="width12">
                            Cause of Death
                        </th>
                        <th class="width12">
                            County of Death
                        </th>
                        <!--<th class="width12">
                                        <mfDefaultSorter by="Status">Status</mfDefaultSorter>
                                    </th>-->
                        <th class="width12"> Case Action </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of AvailableObserve |async |  paginate : { itemsPerPage:5, currentPage:currentAvailableCasePage, id : 'available', totalItems:currentAvailableCaseCount } ">
                        <!--<td> <a [routerLink]="['/case', item.id]">{{item.OCME}}</a></td>-->
                        <td><a class="label-ocme" data-toggle='modal' data-target='#caseDetailsPopup' (click)="openDialog($event)"
                                id={{item.id}}>{{item.OCME}}</a></td>
                        <td>{{item.ResidentJurisdiction}}</td>
                        <td>{{item.DateofDeath}}</td>
                        <td>{{item.CauseofDeath}}</td>
                        <td>{{item.CountyofDeath}}</td>
                        <!--<td>{{item.Status}}</td>-->
                        <td>
                            <a (click)="updateCaseStatus(item.id ,'Available', 'Assigned')" class="icon-accept  fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Available', 'Dismissed')" class="icon-trash  fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Available', 'Unflagged')" *ngIf="item.Flagged" class="icon-flagged  fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Available','Flagged')" *ngIf="!item.Flagged" class="icon-unflagged  fleft   margin_l5"> </a>
                            <!--<a [routerLink]="['/case', item.id]"><span class="icon-edit fleft   margin_l5"></span></a>-->
                            <!--Not allowed for Available cases <a [routerLink]="['/case', item.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> -->


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        <h5 class="heading">
            <span>Dismissed Cases</span>
            <span style="float:right; padding-bottom:20px">
                      <pagination-controls (pageChange)="page = paginationDismissedData($event);"
                                           id="dismissed"
                                           maxsize="5"
                                           directionLinks="true"
                                           autohide="true">
                      </pagination-controls>
                    </span>
        </h5>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mycasetable">
                <thead>
                    <tr>
                        <th class="width12">
                            OCME#
                        </th>
                        <th class="width12">
                            Resident County
                        </th>
                        <th class="width12">
                            Date Of Death
                        </th>
                        <th class="width12">
                            Cause of Death
                        </th>
                        <th class="width12">
                            County of Death
                        </th>
                        <!--<th class="width12">
              <mfDefaultSorter by="Status">Status</mfDefaultSorter>
          </th>-->
                        <th class="width12"> Case Action </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of DismissedObserve| async |  paginate : { itemsPerPage:5, currentPage:currentDismissedCasePage, id : 'dismissed', totalItems : currentDismissedCaseCount} ">
                        <!-- <td> <a class="label-ocme" [routerLink]="['/case', item.id]">{{item.OCME}}</a></td> -->
                        <td><a class="label-ocme" data-toggle='modal' data-target='#caseDetailsPopup' (click)="openDialog($event)"
                                id={{item.id}}>{{item.OCME}}</a></td>
                        <td>{{item.ResidentJurisdiction}}</td>
                        <td>{{item.DateofDeath}}</td>
                        <td>{{item.CauseofDeath}}</td>
                        <td>{{item.CountyofDeath}}</td>
                        <!--<td>{{item.Status}} </td>-->
                        <td>
                            <!-- SK_Removing the option to accept a submitted cases. Confirm with Laura. -->
                            <a (click)="updateCaseStatus(item.id ,'Dismissed', 'Assigned')" class="icon-accept fleft   margin_l25"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Dismissed', 'Unflagged')" *ngIf="item.Flagged" class="icon-flagged fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Dismissed', 'Flagged')" *ngIf="!item.Flagged" class="icon-unflagged fleft   margin_l5"> </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <h5 class="heading"><span>Submitted Cases</span>
            <span style="float:right; padding-bottom:20px"><pagination-controls 
                        (pageChange) = "page = paginationSubmittedData($event);" 
                        id="submitted"
                        maxSize = "5"
                        directionLinks = "true"
                        autohide = "true">
                        </pagination-controls>
                    </span>
        </h5>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mycasetable">
                <thead>
                    <tr>
                        <th class="width12">
                            OCME #
                        </th>
                        <th class="width12">
                            Resident County
                        </th>
                        <th class="width12">
                            Date Of Death
                        </th>
                        <th class="width12">
                            Cause of Death
                        </th>
                        <th class="width12">
                            County of Death
                        </th>
                        <!--<th class="width12">
                                        <mfDefaultSorter by="Status">Status</mfDefaultSorter>
                                    </th>-->
                        <th class="width12"> Case Action </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of SubmittedObserve | async | paginate : { itemsPerPage:5, currentPage:currentSubmittedCasePage, id : 'submitted', totalItems : currentSubmittedCaseCount} ">
                        <!-- <td> <a class="label-ocme" [routerLink]="['/case', item.id]">{{item.OCME}}</a></td> -->
                        <td><a class="label-ocme" data-toggle='modal' data-target='#caseDetailsPopup' (click)="openDialog($event)"
                                id={{item.id}}>{{item.OCME}}</a></td>
                        <td>{{item.ResidentJurisdiction}}</td>
                        <td>{{item.DateofDeath}}</td>
                        <td>{{item.CauseofDeath}}</td>
                        <td>{{item.CountyofDeath}}</td>
                        <!--<td>{{item.Status}} </td>-->
                        <td>
                            <!-- SK_Removing the option to accept a submitted cases. Confirm with Laura. -->
                            <a (click)="updateCaseStatus(item.id , 'Submitted', 'Assigned')" class="icon-accept fleft   margin_l25"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Submitted', 'Unflagged')" *ngIf="item.Flagged" class="icon-flagged fleft   margin_l5"> </a>
                            <a (click)="updateCaseStatus(item.id ,'Submitted', 'Flagged')" *ngIf="!item.Flagged" class="icon-unflagged fleft   margin_l5"> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>