<h2>Dashboard</h2>

 <span>
 <button type="button" (click)="onToggle(show)" class="btn btn-primary">CaseReport </button>
 </span>
 <div id=caseReport *ngIf="show" >
    <case-report [ngClass]="{ 'ic-v': visible, 'ic-v-up': !visible }"> </case-report>
</div>

<div class="table-responsive">
<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
        <th>
            <mfDefaultSorter>OCME #</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter>Resident County</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter>Date Of Death</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter>Cause of Death</mfDefaultSorter>
        </th>
         <th>
            <mfDefaultSorter>County of Death</mfDefaultSorter>
        </th>
         <th>
            <mfDefaultSorter by="Status">Status</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td> <a  [routerLink]="['/case', item.id]" >{{item.OCME}}</a></td>
        <td>{{item.ResidentCounty}}</td>
        <td>{{item.DateofDeath}}</td>
        <td>{{item.CauseofDeath}}</td>
        <td>{{item.CountyofDeath}}</td>
        <td>{{item.Status}}</td>
      </tr>
    </tbody>
</table>
 
</div>