<table class="table table-hover table-bordered" *ngIf="pdmpData && pdmpData && pdmpData.length > 0">
  <thead>
    <th>Medication</th>
    <th>Written</th>
    <th>Filled</th>
    <th>Days Supply</th>
    <th>QTY Disp.</th>
    <th>Method of Payment</th>
    <th>Prescriber</th>
    <th>Pharmacy Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of pdmpData" >
      <td>{{row.Label}}</td>
      <td>{{row.DateWritten}}</td>
      <td>{{row.DateFilled}}</td>
      <td>{{row.DaysSupply}}</td>
      <td>{{row.QuantityDispensed}}</td>
      <td>{{row.PaymentMethod}}</td>
      <td>{{row.PrescribingProvider.Name.LastName + ", " + row.PrescribingProvider.Name.FirstName}}</td>
      <td>{{row.PharmacyName}}</td>
    </tr>
  </tbody>
</table>
<div style="text-align: center" *ngIf="!pdmpData || pdmpData.length == 0">
  <h3>No PDMP data found</h3>
</div>
