<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".ttf" mimeType="text/css" />
            <mimeMap fileExtension=".woff" mimeType="text/css" />
            <mimeMap fileExtension=".woff2" mimeType="text/css" />
        </staticContent>
    <rewrite>
      <rules>
        <rule name="AngularJS" stopProcessing="true">
          <match url="^(?!.*(.bundle.js|.bundle.map|.bundle.js.gz|.bundle.css|.bundle.css.gz|.css|.png|.jpg|.ico|.woff|.woff2|.json|.ttf|.svg)).*$" />
          <conditions logicalGrouping="MatchAll">
          </conditions>
          <action type="Rewrite" url="/"  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
   </system.webServer>
 </configuration>