/* You can add global styles to this file, and also import other style files */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.actionButton{
  height:20px;
  width:20px;
} 

.btn-Case-Report{
  text-align: right!important;
  padding-bottom: 10px;
  padding-left:10px;}
  
.mycasetable thead th {font-size: 0.8em;font-weight: 700;padding: 5px;}
.mycasetable tbody td {font-size: 0.8em;font-weight: normal;padding: 5px;}
.heading{color:#0275d8;}
.mainheading{color:#292b2c;font-size:1em;}

.icon-accept {
    background:url('~/assets/images/accept.jpg') no-repeat right top;
    height:20px;
    width:20px;
    display: block;
    cursor:pointer;
   
}
.icon-trash {
    background:url('~/assets/images/trash.jpg') no-repeat right top;
    height:20px;
    width:20px;
    display: block;
    cursor:pointer;
   
}

.icon-unflagged {
   background:url('~/assets/images/flag-colorless.png') no-repeat right top;
   height:20px;
   width:20px;
   display: block;
   cursor:pointer;
}
.icon-flagged {
   background:url('~/assets/images/flag-colored.png') no-repeat right top;
   height:20px;
   width:20px;
   display: block;
   cursor:pointer;
    
}
.fleft{float: left;}
.fright{float: right;}
.margin_l5{margin-left:15px;}
.margin_r5{margin-right:15px;}
.btn {cursor: pointer;}
.width12{ width:12.5%;}