/* You can add global styles to this file, and also import other style files */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.actionButton{
  height:20px;
  width:20px;
} 

.btn-Case-Report{
  text-align: right!important;
  padding-bottom: 10px;
  padding-left:10px;}

.mycasetable{margin-bottom: 25px;}  
.mycasetable thead th {font-size: 0.8em;font-weight: 700;padding: 5px;text-align: center;}
.mycasetable tbody td {font-size: 0.8em;font-weight: normal;padding: 5px;text-align: center;}
.heading{    color: #000;
    padding: 5px;
    background-color: #c5c5c5;
    font-size: 1.2em;
    font-weight: normal;    margin-bottom: 0px;}
.mainheading{color:#292b2c;font-size:1em;}
.navbar{padding: 5px 10px;}
.navbar-default {
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0 );}
.icon-accept {
    background:url('~/assets/images/accept.png') no-repeat right top;
    display: block;
    cursor: pointer;
    height: 25px;
    width: 25px;
   
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: RoyalBlue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.icon-trash {
    background:url('~/assets/images/cross.png') no-repeat right top;
     display: block;
    cursor: pointer;
    height: 25px;
    width: 50px;
   
}

.icon-edit {
   background:url('~/assets/images/edit.png') no-repeat right top;
   display: block;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.icon-unflagged {
   background:url('~/assets/images/flag-colorless.png') no-repeat right top;
   display: block;
    cursor: pointer;
    height: 25px;
    width: 50px;
}
.icon-flagged {
   background:url('~/assets/images/flag-colored.png') no-repeat right top;
    display: block;
    cursor: pointer;
    height: 25px;
    width: 50px;
    
}
.icon-logout {
  
    background:url('~/assets/images/Logout.png') no-repeat right top;
    display: block;
    cursor: pointer;
    height: 25px;
    width: 25px;
   
}
.load-spinner {
   background:url('~/assets/images/giphy.gif');
   
}

.fa-pencil-square-o {
  color: #156397;
  font-size: 25px;
  width: 35px;
}
.nav-link {
    display: block;
    padding: 2px;
}
.navbar-brand{background:url('~/assets/images/Logo.png') no-repeat left top; height:30px; width:130px; }
.fleft{float: left;}
.fright{float: right;}
.margin_l5{margin-left:15px;}
.margin_r5{margin-right:8px;}
.margin_l25{margin-left:25px;}
.margin_r25{margin-right:25px;}
.align-centre{display:flex;align-items:center;}
.first-r { left: 0%; position: relative; }
.second-r{ left: 50%; position: relative; }
.third-r{ display: inline-block; position: absolute;
    right: 35px;
    top: 50%;
    width: 100%;}
.btn {cursor: pointer;}
.width12{ width:14.28%;}
form{font-size:0.85em}
.form-control{font-size: 0.85em;}
.card-header {
       padding: 5px 20px;
    margin-bottom: 2px;
    background-color: #6d767d;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 1.2em;
    color: white;
}
.card-header a,.card-header a:hover{color:white;}
.card{border: 1px solid rgb(156, 157, 158);}

.label-ocme
{
  cursor:pointer;
  text-decoration:underline !important;
}